!backend/model/.gitkeep
backend/model/*
.uuid
backend/static/*
backend/model/**/*.zip
backend/model/**/*.pdiparams
offline_package
dist/*
frontend/node_modules/*
frontend/dist/*
frontend/build/*
deploy/frontend/dist/*.tar.gz
deploy/frontend/helm/dist/*.tgz
deploy/frontend/helm/dist/*.tar.gz
__pycache__/
miner/frontend/node_modules/*
miner/frontend/dist/*
miner/frontend/build/*
backend/applications/interface/checkpoints/*
offline_cache/*
static/*
