Flask==2.2.5
Flask-Cors>=4.0.0
gunicorn>=22.0.0
Werkzeug==2.2.3
chardet>=5.0.0,<6
munch>=4.0.0
marshmallow==3.18.0
marshmallow_sqlalchemy==0.28.1
matplotlib>=3.5.3
numpy==1.21.6
opencv-contrib-python<4.11
Pillow>=9.2.0
PyMySQL>=1.0.2
python-dotenv>=0.21.0
PyYAML>=6.0
scikit_image>=0.19.3
SQLAlchemy==1.4.46
sqlparse>=0.4.2
tqdm>=4.64.1
rasterio==1.2.10
